.about {
    margin: auto;
    text-align: center;
    width: 50%;

    h2 {
        font-size: 3rem;
        margin: 1rem 0;
    }

    p {
        color: gray;
        margin: 1rem 0;
    }
}

.cards {
    margin-bottom: 1rem;
    overflow: hidden;

    div {
        float: left;
        padding: 1rem;
        padding-bottom: 0;
        text-align: center;
        width: calc(100% / 3);
    }

    h6 {
        margin-bottom: .5rem;
    }

    li {
        text-align: center;
    }

    ul {
        list-style-type: none;
        margin-bottom: .5rem;
    }
}

.delete {
    border: none;
    color: blueviolet;
    display: block;
    margin: auto;

    &:active {
        color: rgb(250, 100, 250);
    }
}

.details {
    margin: auto;
    text-align: center;
    width: 80%;

    h2 {
        font-size: 3rem;
        margin: 1rem 0;
    }

    li {
        font-size: 2rem;
        list-style-type: none;
        text-align: center;
    }
}

.details-link {
    color: blueviolet;

    &:visited {
        color: blueviolet;
    }

    &:active {
        color: rgb(250, 100, 250);
    }
}

.error {
    font-size: 3rem;
    margin: 1rem 0;
    text-align: center;
}

.header {
    color: #ddd;
}

.makes {
    button {
        background: #1876d2;
        border-radius: 1rem;
        color: #ddd;
        display: block;
        font-size: 2rem;
        margin: 1rem auto .5rem;
        padding: .5rem 2rem;
        text-align: center;
        transition: 200ms;

        &:hover {
            background: darken(#1876d2, 5%);
            box-shadow: 0 0 8px 0 black;
        }

        &:active {
            transform: scale(.98);
        }
    }

    ul {
        font-size: 1.5rem;
        list-style-type: none;
        margin: 0 1rem 1rem;

        li {
            line-height: 2rem;
            text-align: center;
        }
    }
}

.nav-link {
    color: #ddd;
    font-size: 2rem;
    margin: 1rem;

    &:visited {
        color: #ddd;
    }

    &:active {
        color: rgb(250, 100, 250);
    }
}